body {
    margin: 0;
}

h1 {
    text-align:center ;
}
 .container {
    display: flex;
    width: 100vw;
    height: 87vh;
    justify-content: center;
}

/* case of  4 cards */
/*
.cards {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.card {
    width: 44%;
    height: 30vh;
    margin: 1em;
} */

/* case of 6 */


/* .cards {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.card {
    width: 25%;
    height: 30vh;
    margin: 1em;
} */

/* 8 cards */
/* 
.cards {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.card {
    width: 25%;
    height: 24vh;
    margin: 1em;
} */

.cards {
    width: 70vw;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;


}
.card {
    width: 95%;
    height: 95%;
    margin: 1em;
}

.timer {
    position: absolute;
    top:0; 
    left: 0;
    padding: 1em;
    font-size: 2em;
}